.container {
    padding: 100px;
}

#popoverBtn {
    display: inline-block;

    padding: 10px 20px;
    margin: 10px;

    background-color: darkorchid;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}

.popover {
    position: absolute;
    display: block;

    z-index: 100;

    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;

    padding: 15px;
}
